--allow-incomplete-classpath \
-H:+ReportUnsupportedElementsAtRuntime \
-H:InitialCollectionPolicy=com.oracle.svm.core.genscavenge.CollectionPolicy$BySpaceAndTime \
-J-Djava.util.concurrent.ForkJoinPool.common.parallelism=1 \
-H:+PrintAnalysisCallTree \
-H:-AddAllCharsets \
-H:+SpawnIsolates \
-H:-UseServiceLoaderFeature \
-H:+StackTrace \
-Dio.netty.noUnsafe=true \
-Dio.netty.noJdkZlibDecoder=true \
-Dfile.encoding=UTF-8
--enable-http
--enable-https
-H:ReflectionConfigurationFiles=reflect.config
