[
  {
    "name" : "com.baulsupp.cooee.cli.Main",
    "fields" : [
      { "name" : "version", "allowWrite" : true },
      { "name" : "local", "allowWrite" : true },
      { "name" : "complete", "allowWrite" : true },
      { "name" : "commandComplete", "allowWrite" : true },
      { "name" : "fishComplete", "allowWrite" : true },
      { "name" : "debug", "allowWrite" : true },
      { "name" : "login", "allowWrite" : true },
      { "name" : "logout", "allowWrite" : true },
      { "name" : "token", "allowWrite" : true },
      { "name" : "defaultTokenSet", "allowWrite" : true },
      { "name" : "addProvider", "allowWrite" : true },
      { "name" : "removeProvider", "allowWrite" : true },
      { "name" : "listProvider", "allowWrite" : true },
      { "name" : "repl", "allowWrite" : true },
      { "name" : "logout", "allowWrite" : true },
      { "name" : "arguments", "allowWrite" : true }
    ],
    "methods" : [
      { "name" : "<init>" }
    ]
  }
]
