[
  {
    "name" : "com.baulsupp.cooee.cli.Main",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true,
    "fields" : [
      { "name" : "arguments" },
      { "name" : "commandComplete" },
      { "name" : "complete" },
      { "name" : "debug" },
      { "name" : "fishComplete" },
      { "name" : "local" },
      { "name" : "login" },
      { "name" : "logout" }
    ]
  },
  {
    "name" : "picocli.CommandLine$AutoHelpMixin",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true,
    "fields" : [
      { "name" : "helpRequested" },
      { "name" : "versionRequested" }
    ]
  },
  {
    "name" : "com.baulsupp.cooee.cli.CompletionItemJsonAdapter",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true
  },
  {
    "name" : "com.baulsupp.cooee.cli.CompletionResultJsonAdapter",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true
  },
  {
    "name" : "com.baulsupp.cooee.cli.GoResultJsonAdapter",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true
  },
  {
    "name" : "com.baulsupp.cooee.cli.SuggestionJsonAdapter",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true
  },
  {
    "name" : "com.baulsupp.cooee.cli.TodoResultJsonAdapter",
    "allDeclaredConstructors" : true,
    "allPublicConstructors" : true,
    "allDeclaredMethods" : true,
    "allPublicMethods" : true
  }
]
